.bg-gray {
    background-color: map-get(map-get($foundation-palette, secondary), fourth);
}
.bg-white {
    background-color: map-get(map-get($foundation-palette, primary), second);
}

.deals-of-the-day-container {
    bottom: rem-calc(50);
}

.pt_homepage {
    overflow: hidden;;
}

.category-banners {
    bottom: rem-calc(70);
}