@import '../foundation/settings';

@import "include";

body {
    @include Poppins(normal);
}

.body-container {
    display: flex;
    justify-content: center;
    .body-box {
        max-width: rem-calc($bodyContainerWidth);
    }
}