@import '../foundation/settings';

@import "include";

body {
    @include Poppins(normal);
}

.body-container {
    display: flex;
    justify-content: center;
    .body-box {
        max-width: rem-calc($bodyContainerWidth);
    }
}

.body-row-container {
    display: block;
    width: 100vw;
    .body-row {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: rem-calc($bodyContainerWidth);
    }
}