.pt_homepage {
    .carousel-root {
        .slider-wrapper {
            .slide div {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                margin-top: -20%;
            }
            .title {
                position: absolute;
                color: map-get(map-get($foundation-palette, primary), second);
                font-size: rem-calc(80);
            }
            .title-animated {
                animation: animate-title 1s linear forwards;
                left: 0;
            }
        }
    }
}

@keyframes animate-title {
    from {
        left: 0;
        opacity: 0;
    }
    to {
        left: 40%;
        opacity: 1;
    }
}