.product-detail-carousel {
    background-color: map-get(map-get($foundation-palette, primary), second);
    padding: rem-calc(50 0 0);
    .carousel-slider {
        .control-dots {
            display: none;
        }
    }
    .carousel {
        .thumb {
            display: flex;
            height: rem-calc(80);
            cursor: pointer;
            &:hover {
                border: solid rem-calc(2) map-get(map-get($foundation-palette, secondary), fifth);
            }
            &.selected {
                border: solid rem-calc(2) map-get(map-get($foundation-palette, secondary), fifth);
            }
        }
        .thumbs-wrapper {
            ul.thumbs {
                display: flex;
                justify-content: center;
            }
        }
    }
    .product-detail-page-carousel-image-zoom {
        max-width: rem-calc(350);
        max-height: rem-calc(350);
        margin: 0 auto;
        img.thumbnail-carousel-zoom {
            display: none;
        }
    }
}