.product-carousel {
    background-color: map-get(map-get($foundation-palette, primary), second);
    button.button-hover-effect {
        position: absolute;
        &:first-child {
            left: 0;
        }
        &:last-child {
            right: rem-calc(6);
        }
    }
}