.product-detail-page-container {
    background-color: map-get(map-get($foundation-palette, secondary), fourth);
    .body-row-container {
        padding: rem-calc(50 0);
    }
    .product-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}
