.top-header-menu-container {
    display: flex;
    background: rgba(0,0,0,0.7);
    color: map-get(map-get($foundation-palette, primary), second);
    padding: rem-calc(10 50);
    align-items: center;
    .icon-logo {
        display: flex;
        align-items: center;
        flex: 0 0 18%;
        cursor: pointer;
        color: map-get(map-get($foundation-palette, primary), second);
        &:before {
            font-size: rem-calc(80);
        }
    }
    .cta-icons {
        display: flex;
        flex: 0 0 22%;
        align-items: center;
        justify-content: flex-end;
        .icon {
            cursor: pointer;
            &:hover {
                &:before {
                    color: map-get(map-get($foundation-palette, primary), first);
                }
            }
            &:before {
                font-size: rem-calc(35);
                color: map-get(map-get($foundation-palette, primary), second);
                transition: all 0.3s;
            }
            &-cart {
                &:before {
                    font-size: rem-calc(45);
                    margin-top: rem-calc(-10);
                }
            }
        }
        .top-header-menu--my-account {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 40%;
            cursor: pointer;
            span {
            transition: all 0.3s;
            &:hover {
                color: map-get(map-get($foundation-palette, primary), first);
                }
            }
        }
    }
}

// MOBILE
@media(max-width: map-get($breakpoints, medium)) {
    .top-header-menu-container {
        padding: rem-calc(10 5);
        .icon-logo {
            &:before {
                font-size: rem-calc(60);
            }
        }
        .cta-icons {
            margin-left: auto;
            .icon {
                &-heart-empty {
                    &:before {
                        font-size: rem-calc(27);
                    }
                }
                &-cart {
                    &:before {
                        font-size: rem-calc(35);
                    }
                }
                &-profile {
                    margin-left: rem-calc(6);
                    &:before {
                        font-size: rem-calc(32);
                    }
                }
            }
        }
    }
}