.top-header-menu-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    background: rgba(0,0,0,0.7);
    color: map-get(map-get($foundation-palette, primary), second);
    z-index: 1;
    .logo {
        padding: rem-calc(5 0);
        display: flex;
        flex: 0 0 20%;
        padding-left: rem-calc(10);
        .icon-logo {
            align-items: center;
            cursor: pointer;
            color: map-get(map-get($foundation-palette, primary), second);
        }
    }
    .cta-icons {
        display: flex;
        flex: 0 0 25%;
        align-items: center;
        justify-content: flex-end;
        .icon {
            cursor: pointer;
            &:before {
                font-size: rem-calc(30);
                color: map-get(map-get($foundation-palette, primary), second);
                transition: all 0.3s;
            }
            &-heart-empty {
                &:hover {
                    &:before {
                        color: map-get(map-get($foundation-palette, primary), first);
                    }
                }
            }
            &-cart {
                &:before {
                    font-size: rem-calc(40);
                    margin-top: rem-calc(-5);
                }
                &:hover {
                    &:before {
                        color: map-get(map-get($foundation-palette, primary), first);
                    }
                }
            }
        }
        .top-header-menu--my-account {
            display: flex;
            background-color: rgba(190, 174, 88, 0.5);
            height: rem-calc(90);
            margin: rem-calc(0 10);
            justify-content: center;
            align-items: center;
            flex: 0 0 40%;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            span {
                transition: all 0.3s;
            }
        }
    }
}

// MOBILE
@media(min-width: map-get($breakpoints, medium)) {
    .top-header-menu-container {
        .icon-logo {
            &:before {
                font-size: rem-calc(80);
            }
        }
    }
}

// MOBILE
@media(max-width: map-get($breakpoints, medium)) {
    .top-header-menu-container {
        position: relative;
        background: map-get(map-get($foundation-palette, primary), fifth);
        .icon-menu {
            flex: 0 0 15%;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s;
            &:before {
                font-size: rem-calc(25);
            }
            &:hover {
                opacity: 0.8;
                color: map-get(map-get($foundation-palette, primary), first);
            }
        }
        .icon-logo {
            &:before {
                font-size: rem-calc(65);
            }
        }
        .cta-icons {
            margin-left: auto;
            .icon {
                &-cart {
                    margin-right: rem-calc(10);
                    &:before {
                        font-size: rem-calc(30);
                    }
                }
                &-profile {
                    margin-left: rem-calc(6);
                    &:before {
                        font-size: rem-calc(27);
                    }
                }
            }
        }
    }
}