.top-header-menu-container {
    position: relative;
    width: 100%;
    z-index: 3;
    .top-header-menu-box {
        display: flex;
        width: 100%;
        align-items: center;
        background: map-get(map-get($foundation-palette, primary), sixth);
        color: map-get(map-get($foundation-palette, primary), second);
        z-index: 3;
        .logo {
            padding: rem-calc(5 0);
            display: flex;
            flex: 0 0 20%;
            padding-left: rem-calc(10);
            .icon-logo {
                align-items: center;
                cursor: pointer;
                color: map-get(map-get($foundation-palette, primary), second);
            }
        }
        .cta-icons {
            display: flex;
            flex: 0 0 25%;
            align-items: center;
            justify-content: flex-end;
            .icon {
                cursor: pointer;
                &:before {
                    font-size: rem-calc(30);
                    color: map-get(map-get($foundation-palette, primary), second);
                    transition: all 0.3s;
                }
                &-heart-empty {
                    &:hover {
                        &:before {
                            color: map-get(map-get($foundation-palette, primary), first);
                        }
                    }
                }
                &-cart {
                    &:before {
                        font-size: rem-calc(40);
                        margin-top: rem-calc(-5);
                    }
                    &:hover {
                        &:before {
                            color: map-get(map-get($foundation-palette, primary), first);
                        }
                    }
                }
            }
            .top-header-menu--my-account {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: map-get(map-get($foundation-palette, primary), first);
                    opacity: 0.6;
                }
                position: relative;
                display: flex;
                height: rem-calc(90);
                margin: rem-calc(0 10);
                justify-content: center;
                align-items: center;
                flex: 0 0 40%;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
                .title {
                    z-index: 1;
                    span {
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}

// MOBILE
@media(min-width: map-get($breakpoints, medium)) {
    .top-header-menu-container {
        .top-header-menu-box {
            .icon-logo {
                &:before {
                    font-size: rem-calc(80);
                }
            }
        }
    }
}

// MOBILE
@media(max-width: map-get($breakpoints, medium)) {
    .top-header-menu-container {
        .top-header-menu-box {
            position: relative;
            background: map-get(map-get($foundation-palette, primary), fifth);
            .logo {
                margin: 0 auto;                
                .icon-logo {
                    &:before {
                        font-size: rem-calc(65);
                    }
                }
            }
            .cta-icons {
                margin-left: auto;
                .icon {
                    &-cart {
                        margin-right: rem-calc(10);
                        &:before {
                            font-size: rem-calc(30);
                        }
                    }
                    &-profile {
                        margin-left: rem-calc(6);
                        &:before {
                            font-size: rem-calc(27);
                        }
                    }
                }
            }
        }
    }
}