.menu-category-container {
    background-color: map-get(map-get($foundation-palette, secondary), fifth);
    .menu-category-box {
        .categories {
            .category-item {
                a {
                    text-decoration: none;
                    span {
                        transition: all 0.3s;
                        &:hover {
                            color: map-get(map-get($foundation-palette, primary), first);
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: map-get($breakpoints, medium)) {
    .menu-category-container {
        &.category-fixed {
            position: fixed;
            top: 0;
            width: 100%;
        }
        .menu-category-box {
            .categories {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                padding: rem-calc(20);
                max-width: rem-calc($bodyContainerWidth);
                margin: 0 auto;
                .category-item {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    transition: 0.3s all;
                }
                a {
                    text-decoration: none;
                    span {
                        @include Poppins(600);
                        font-size: rem-calc(14);
                        letter-spacing: rem-calc(-1);
                        color: map-get(map-get($foundation-palette, primary), fifth);
                        text-transform: uppercase;
                    }
                }
            }
            .icon-close {
                display: none;
            }
        }
    }
}

@media(max-width: map-get($breakpoints, medium)) {
    .menu-category-container {
        display: flex;
        &.category-fixed {
            position: fixed;
            top: 0;
        }
        .menu-category-box {
            position: fixed;
            display: flex;
            background-color: map-get(map-get($foundation-palette, secondary), fifth);
            height: 100%;
            transform: translate(-100%, 0px);
            transition: all 0.3s;
            &.menu-category-mobile {
                transform: translate(0, 0px);
                padding: 20px 15px 0;
                overflow-y: auto;
            }
            .icon-close {
                display: block;
                width: fit-content;
                padding: rem-calc(10);
            }
            .categories {
                .category-item {
                    padding: rem-calc(10);
                    width: rem-calc(170);
                    border-bottom: solid rem-calc(2) map-get(map-get($foundation-palette, secondary), sixth);
                    a {
                        span {
                            @include Poppins(600);
                            font-size: rem-calc(14);
                            letter-spacing: rem-calc(-1);
                            color: map-get(map-get($foundation-palette, primary), fifth);
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .icon-menu {
            position: absolute;
            background-color: map-get(map-get($foundation-palette, primary), fifth);
            padding: rem-calc(8 4);
            border-radius: rem-calc(60);
            top: rem-calc(25);
            left: rem-calc(10);
            flex: 0 0 15%;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s;
            z-index: 1;
            &:before {
                font-size: rem-calc(25);
                color: map-get(map-get($foundation-palette, primary), second);
            }
            &:hover {
                :before {
                    color: map-get(map-get($foundation-palette, primary), first);
                }
            }
            &.menu-icon--opacity-0 {
                display: none;
            }
        }
    }
}