.bottom-buttons {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-top: rem-calc(20);
    gap: 0;
    border-top: solid rem-calc(1) map-get(map-get($foundation-palette, secondary), fifth);
    div {
        text-align: center;
        padding: rem-calc(15 0);
        cursor: pointer;
        transition: 0.3s all;
        background: linear-gradient(to left, map-get(map-get($foundation-palette, primary), second) 50%, map-get(map-get($foundation-palette, primary), first) 50%) right;
        background-size: 201%;
        &:hover {
            transform: scaleX(1);
            background-position: left;
            
            .icon, span {
                color: map-get(map-get($foundation-palette, primary), second);
            }
        }
        span {
            @include Poppins(800);
            font-size: rem-calc(12);
            text-transform: uppercase;
            color: map-get(map-get($foundation-palette, primary), first);

        }
        .icon {
            color: map-get(map-get($foundation-palette, secondary), sixth);
        }
    }
}