.product-tile-description {
    display: block;
    width: 100%;
    .title, .price {
        display: block;
        text-align: center;
    }
    .title {
        text-transform: uppercase;
        margin: rem-calc(0 0 10 0);
    }
    .price {
        margin: rem-calc(0 0 10 0);
        h3 {
            @include Poppins(800);
            font-size: rem-calc(14);
            color: map-get(map-get($foundation-palette, primary), third);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .old-price {
            @include Poppins(400);
            font-size: rem-calc(12);
            color: map-get(map-get($foundation-palette, secondary), sixth);
            margin-right: rem-calc(10);
        }
        .new-price {
            @include Poppins(800);
            font-size: rem-calc(14);
            color: map-get(map-get($foundation-palette, primary), fourth);
        }
    }
}