@mixin fonticon($fontName) {
    font-family: $fontName;
    src: url('../font/'+$fontName+'.eot');
    src: url('../font/'+$fontName+'.eot#iefix') format('embedded-opentype'),
         url('../font/'+$fontName+'.woff2') format('woff2'),
         url('../font/'+$fontName+'.woff') format('woff'),
         url('../font/'+$fontName+'.ttf') format('truetype'),
         url('../font/'+$fontName+'.svg#'+$fontName) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    @include fonticon('fonte');
}
   
.icon {
    &:before{
        font-family: "fonte";
        font-style: normal;
        font-weight: normal;
        // speak: never;
       
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        vertical-align: middle;
        /* opacity: .8; */
       
        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;
       
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
       
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;
       
        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */
       
        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
       
        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

    &-logo:before { content: '\e81b'; }
    &-heart-empty:before { content: '\e808'; }
    &-twitter:before { content: '\e80e'; }
    &-facebook:before { content: '\e80f'; }
    &-instagram:before { content: '\e811'; }
    &-locator:before { content: '\e812'; }
    &-ok:before { content: '\e813'; }
    &-eye:before { content: '\e815'; }
    &-eye-off:before { content: '\e816'; }
    &-search:before { content: '\e81c'; }
    &-cart:before { content: '\e81d'; }
    &-spin:before { content: '\e838'; }
    &-star:before { content: '\e81e'; }
    &-left-arrow:before { content: '\e81f'; }
    &-right-arrow:before { content: '\e820'; }
    &-filled-heart:before { content: '\e822'; }
    &-exchange:before { content: '\e821'; }
    &-profile:before { content: '\e823'; }
    &-triangle-right-arrow:before { content: '\e824'; }
    &-phone:before { content: '\e825'; }
    &-email:before { content: '\e827'; }
    &-menu:before { content: '\e828'; }
    &-close:before { content: '\e829'; }
}
   