.deals-of-the-day-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0;
    .left-panel {
        background-color: map-get(map-get($foundation-palette, primary), first);
        color: map-get(map-get($foundation-palette, primary), second);
        .title {
            text-transform: uppercase;
            margin: rem-calc(20 0);
            border-bottom: solid 2px rgba(255, 255, 255, 0.5);
            padding: rem-calc(0 20);
            h1, span {
                font-size: rem-calc(20);                
            }
            h1 {
                @include Poppins(800);
            }
            span {
                @include Poppins(400);
            }
        }
        .body {
            padding: rem-calc(0 20);
            span {
                @include Poppins(400);
                font-size: rem-calc(12);                
            }
        }
    }
    .middle-panel {
        overflow-wrap: break-word;
        padding: rem-calc(20 0);
        background-color: map-get(map-get($foundation-palette, primary), second);
    }
    .right-panel {
        background-color: map-get(map-get($foundation-palette, primary), second);
    }
}