.modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    border: solid;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    z-index: 0;
    transition: all 0.3s;
    &.active {
        background-color: rgba(0,0,0,0.5);
        z-index: 3;
        .modal-box {
            top: rem-calc(100);
            opacity: 1;
        }
    }
    .modal-box {
        position: absolute;
        top: 0;
        background-color: map-get(map-get($foundation-palette, primary), second);
        height: 400px;
        width: 30%;
        border-radius: rem-calc(4);
        box-shadow: 0 0 8px 2px map-get(map-get($foundation-palette, secondary), sixth);
        opacity: 0;
        transition: all 0.3s;
    }
}