.product-info-container {
    .body-container {
        display: block;
        padding: rem-calc(20);
        .description-container {
            span {
                @include Poppins(400);
                font-size: rem-calc(12);
                color: map-get(map-get($foundation-palette, primary), third);
            }
        }
        .tag-category-container {
            display: flex;
            .tag {
                @include Poppins(600);
                margin-right: rem-calc(20);
                font-size: rem-calc(12);
                text-transform: uppercase;
                color: map-get(map-get($foundation-palette, primary), third);
                padding: rem-calc(5 15);
                border: solid rem-calc(2) map-get(map-get($foundation-palette, secondary), fifth);
                width: fit-content;
                border-radius: rem-calc(20);
            }
        }
        .review-product-container {
            h2 {
                @include Poppins(600);
                font-size: rem-calc(18);
                color: map-get(map-get($foundation-palette, secondary), sixth);
            }
        }
        .seller-container {
            h2 {
                font-size: rem-calc(18);
                text-transform: capitalize;
                letter-spacing: -1;
            }
            .rating-stars {
                text-align: start;
            }
        }
        .more-products-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: rem-calc(20);
        }
    }
}

@media(min-width: map-get($breakpoints, medium)) {
    .product-info-container {
        display: grid;
        background-color: map-get(map-get($foundation-palette, primary), second);
        grid-template-columns: rem-calc(200) 2fr;
        margin: rem-calc(20 0);
        border: solid rem-calc(1) map-get(map-get($foundation-palette, secondary), fifth);
        .product-info-tabs {
            border-right: solid rem-calc(1) map-get(map-get($foundation-palette, secondary), fifth);
            .description-container {
                display: flex;
                justify-content: center;
                padding: rem-calc(10 20);
                cursor: pointer;
                transition: 0.3s all;
                border-bottom: solid rem-calc(1) map-get(map-get($foundation-palette, secondary), fifth);
                &:last-child {
                    border: none;
                }
                &:hover {
                    background-color: map-get(map-get($foundation-palette, primary), first);
                    h2 {
                        color: map-get(map-get($foundation-palette, primary), second);
                    }
                }
                h2 {
                    @include Poppins(800);
                    font-size: rem-calc(14);
                    text-transform: uppercase;
                    color: map-get(map-get($foundation-palette, primary), fifth);
                    margin: 0;
                }
                &.active {
                    background-color: map-get(map-get($foundation-palette, primary), first);
                    h2 {
                        color: map-get(map-get($foundation-palette, primary), second);
                    }
                }
            }
        }
    }
}

@media(max-width: map-get($breakpoints, medium)) {
    .product-info-container {
        display: block;
        padding: 0;
        background-color: map-get(map-get($foundation-palette, primary), second);
        margin: rem-calc(20 0);
        border: solid rem-calc(1) map-get(map-get($foundation-palette, secondary), fifth);
        cursor: pointer;
        .label-tab {
            display: flex;
            padding: rem-calc(10 20);
            justify-content: center;
            transition: 0.3s all;
            border-bottom: solid rem-calc(1) map-get(map-get($foundation-palette, secondary), fifth);
            border-top: solid rem-calc(1) map-get(map-get($foundation-palette, secondary), fifth);
            &:last-child {
                border: none;
            }
            &:hover {
                background-color: map-get(map-get($foundation-palette, primary), first);
                h2 {
                    color: map-get(map-get($foundation-palette, primary), second);
                }
            }
            h2 {
                @include Poppins(800);
                font-size: rem-calc(14);
                text-transform: uppercase;
                color: map-get(map-get($foundation-palette, primary), fifth);
                margin: 0;
            }
            &.active {
                background-color: map-get(map-get($foundation-palette, primary), first);
                h2 {
                    color: map-get(map-get($foundation-palette, primary), second);
                }
                &+.body-container {
                    max-height: rem-calc(500);
                    padding: rem-calc(10 20);
                    overflow-y: auto;
                }
            }
        }
        .body-container {
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: 0.3s all;
        }
    }
}